<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.everis.everisdesafioevento">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_events_events"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.DadosDoParticipanteActivity"></activity>
        <activity android:name=".Activity.EditarEventoActivity" />
        <activity android:name=".Activity.ListarParticipantesActivity" />
        <activity android:name=".Activity.InscricaoEventoActivity" />
        <activity android:name=".Activity.ListarEventosActivity" />
        <activity android:name=".Activity.CadastroEventoActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />


</manifest>